<% include ../partials/_header %>

<main class="main">
    <div class="container-fluid">
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                          
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section list-products">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 order-2 order-lg-2">
                        <div class="sidebar-wrapper sticky-sidebar">
                            <div class="share-icon">
                                <h5>share:</h5>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="sidebar-single">
                                <div class="sidebar-title">
                                    <h3>Products</h3>
                                </div>
                                <div class="sidebar-body">
                                    <ul class="sidebar-category">
                                        <li class="has-children">
                                            <a href="#">
                                                Stock
                                            </a>
                                            <ul class="children" style="display: none;">
                                                <li>
                                                    <a href="#">
                                                        40 pcs
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Shipment</a>
                                            <ul class="children" style="display: block;">
                                                <li>
                                                    <a href="#">
                                                        <img src="<%= ofertados.image %>" height="30px">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="<%= ofertados.imagedos %>" height="30px">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="<%= ofertados.imagetres %>" height="30px">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="<%= ofertados.image %>" height="30px">
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Payment</a>
                                            <ul class="children" style="display: none;">
                                                <li>
                                                    <a href="#">
                                                        <img src="<%= ofertados.image %>" height="30px">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="<%= ofertados.imagedos %>" height="30px">
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 order-1 order-lg-1">
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="slider-zoom">
                                        <a href="<%= ofertados.image %>" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: false, zoomWidth:'500', zoomHeight:'500', adjustY:0, adjustX:10" id="cloudZoom">
                                            <img alt="Detail Zoom thumbs image" src="<%= ofertados.image %>" style="width: 100%;">
                                        </a>
                                    </div>
                                    <div class="slider-thumbnail">
                                        <ul class="d-flex flex-wrap p-0 list-unstyled">
                                            <li>
                                                <a href="<%= ofertados.imagedos %>" rel="gallerySwitchOnMouseOver: true, popupWin:'<%= ofertados.imagedos %>', useZoom: 'cloudZoom', smallImage: '<%= ofertados.imagedos %>'" class="cloud-zoom-gallery">
                                                    <img itemprop="image" src="<%= ofertados.imagedos %>" style="width:135px;">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= ofertados.imagetres %>" rel="gallerySwitchOnMouseOver: true, popupWin:'<%= ofertados.imagetres %>', useZoom: 'cloudZoom', smallImage: '<%= ofertados.imagetres %>'" class="cloud-zoom-gallery">
                                                    <img itemprop="image" src="<%= ofertados.imagetres %>" style="width:135px;">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= ofertados.image %>" rel="gallerySwitchOnMouseOver: true, popupWin:'<%= ofertados.image %>', useZoom: 'cloudZoom', smallImage: '<%= ofertados.image %>'" class="cloud-zoom-gallery">
                                                    <img itemprop="image" src="<%= ofertados.image %>" style="width:135px;">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= ofertados.imagetres %>" rel="gallerySwitchOnMouseOver: true, popupWin:'<%= ofertados.imagetres %>', useZoom: 'cloudZoom', smallImage: '<%= ofertados.imagetres %>'" class="cloud-zoom-gallery">
                                                    <img itemprop="image" src="<%= ofertados.imagetres %>" style="width:135px;">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="dist/assets/img/zoom-5.jpg" rel="gallerySwitchOnMouseOver: true, popupWin:'dist/assets/img/zoom-5.jpg', useZoom: 'cloudZoom', smallImage: 'dist/assets/img/zoom-5.jpg'"
                                                    class="cloud-zoom-gallery">
                                                    <img itemprop="image" src="dist/assets/img/zoom-5.jpg" style="width:135px;">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="product-description">
                                        <h2 class="title-product">
                                            <%= ofertados.title %>
                                        </h2>
                                        <div class="ratings">
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <p class="text-muted">(5 Ulasan)</p>
                                        </div>
                                        <div class="price-tag">
                                            <div class="mb-2 d-flex justify-content-start align-items-center">
                                                <span class="badge badge-pill badge-danger pl-4 pr-4 pt-2 pb-2 mr-2">-10% Off</span>
                                                <span class="price-discount">Rp 2.250.000</span>
                                            </div>
                                            <span class="price-real">Rp 2.000.000</span>
                                        </div>
                                        <div class="product-desc">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veniam inventore earum quia similique voluptates aperiam officiis, ipsa ratione corporis quibusdam qui recusandae delectus dicta sed quis cumque exercitationem dolorum.</p>
                                        </div>
                                        <p class="available">
                                            Availability:
                                            <span>In Stock</span>
                                        </p>
                                        <div class="product-notes">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="label-bold">Jumlah</label>
                                                    <div class="input-group d-flex justify-content-start align-items-center">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                                                                data-field="quant[1]">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </span>
                                                        <input type="text" name="quant[1]" class="form-control input-number mr-2 ml-2" value="1"
                                                            min="1" max="100">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <label class="label-bold">Catatan Untuk Penjual (Opsional)</label>
                                                    <input type="text" class="form-control custom-input-text" placeholder="Contoh: Warna Putih, Ukuran XL, Edisi Ke-2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-purchase d-flex justify-content-start align-items-center">
                                            <div class="product-btn">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></img>Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="product-review-info">
                                        <ul class="nav" id="review-tab">
                                            <li>
                                                <a class="active" data-toggle="tab" href="#tab_one">description</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab_two">information</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab_three">reviews</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="review-tabContent">
                                            <div class="tab-pane fade show active" id="tab_one">
                                                <div class="tab-one">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor.
                                                        Ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies
                                                        massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo
                                                        augue nisi non neque.</p>
                                                    <p>Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante
                                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue.
                                                        Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.</p>
                                                    <p>Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet
                                                        ligula euismod eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                                        turpis egestas. Nam erat mi, rutrum at sollicitudin rhoncus, ultricies posuere erat. Duis convallis,
                                                        arcu nec aliquam consequat, purus felis vehicula felis, a dapibus enim lorem nec augue. Nunc facilisis
                                                        sagittis ullamcorper.</p>
                                                    <p>Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante
                                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue.
                                                        Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_two">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>color</td>
                                                            <td>black, blue, red</td>
                                                        </tr>
                                                        <tr>
                                                            <td>size</td>
                                                            <td>L, M, S</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="tab_three">
                                                <form action="#" class="review-form">
                                                    <h5>1 review for <span>Jane Riza</span></h5>
                                                    <div class="total-reviews">
                                                        <div class="rev-avatar">
                                                            <img src="dist/assets/img/profile.jpg" alt="">
                                                        </div>
                                                        <div class="review-box">
                                                            <div class="ratings">
                                                                <span class="good">
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                                                                <span class="good">
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                                                                <span class="good">
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                                                                <span class="good">
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                                                                <span>
                                                                    <i class="fa fa-star"></i>
                                                                </span>
                                                            </div>
                                                            <div class="post-author">
                                                                <p>
                                                                    <span>admin -</span> 
                                                                    30 Nov, 2018
                                                                </p>
                                                            </div>
                                                            <p>
                                                                Aliquam fringilla euismod risus ac bibendum. Sed sit amet sem varius ante feugiat lacinia. Nunc
                                                                ipsum nulla, vulputate ut venenatis vitae, malesuada ut mi. Quisque iaculis, dui congue
                                                                placerat pretium, augue erat accumsan lacus
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label">
                                                                <span class="text-danger">*</span> 
                                                                Your Name</label>
                                                            <input type="text" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label">
                                                                <span class="text-danger">*</span> 
                                                                Your Email
                                                            </label>
                                                            <input type="email" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label">
                                                                <span class="text-danger">*</span> 
                                                                Your Review
                                                            </label>
                                                            <textarea class="form-control" required></textarea>
                                                            <div class="help-block pt-10">
                                                                <span class="text-danger">Note:</span> 
                                                                HTML is not translated!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label">
                                                                <span class="text-danger">*</span>
                                                                Your Rating
                                                            </label>
                                                            <div>
                                                                <fieldset class="rating">
                                                                    <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                                    <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                                    <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                                    <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                                    <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="buttons">
                                                        <button class="square-btn" type="submit">Send Review</button>
                                                    </div>
                                                </form> <!-- end of review-form -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <p></p>
                                        <h2></h2>
                                    </div>
                                </div>
                            </div>
                            

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../partials/_footer %>

